
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fuente global  */
body {
  font-family: 'Poppins', sans-serif;
}

/* Transiciones suaves para el offcanvas */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}

/* Sombra y fondo para la navbar */
.nav-shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Estilo de fecha  */
.fecha {
  @apply bg-white text-gray-800 px-3 py-1 rounded-full font-semibold text-sm;
}


