.custom-nav {
  background-color: #111827 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.custom-offcanvas {
  background-color: #1f2937;
}

.fecha {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}

.menu-btn {
  background: none;
  border: none;
}

.offcanvas-header h5 {
  font-weight: bold;
}
